/*body {
    margin: 60px auto;
    width: 200px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}*/
h1 {
    font-size: 3em;
    font-family:'Lato', Helvetica, Arial, sans-serif;
}/*
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
*/
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
	  font-family: 'Lato', Helvetica, Arial, sans-serif;
    width: 100%;
    min-height: 57px;
    background-color: #FFFFFF;
}

/*body {
  margin-bottom: 60px;
}*/

.text-info{
  margin: 15px 0;
}

.navbar {
	font-size: 1.1em;
	font-family: 'Lato', Helvetica, Arial, sans-serif !important;
}

.im-centered {
	margin-left: 150px;
	max-width: 1100px;}

/* ZMENA FARIEB PISMA V HEADRI
.navbar-default .navbar-nav > li > a {
   color: black;
}
*/

body {
	background-image: url("color_backround.jpg");
}

/*CV - components*/
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
