<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/jpg" href="/images/fit.jpg" />

	<title>{{ page.title }}</title>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="header_bar">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#default_nav">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{{ site.name }}</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% case page.selected %}
    				{% when 'home' %}
        			{% include clicked.html domov="active" %}
    				{% when 'o_mne' %}
        			{% include clicked.html  o_mne="active" %}
						{% when 'zivotopis' %}
	        		{% include clicked.html  zivotopis="active" %}
						{% when 'webove_publikovanie' %}
		        	{% include clicked.html webove_publikovanie="active"%}
						{% when 'prispevky' %}
			        {% include clicked.html  prispevky="active" %}
						{% when 'photo_galery' %}
				      {% include clicked.html  photo_galery="active"%}
					{% endcase %}
				</ul>
			</div>
		</div>
	</nav>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
