---
layout: default
---

<div class="container" style="margin-top:70px">
    <div class="well">
      <ul class="nav nav-tabs nav-justified">
        {% if page.about_me_selected == 'o_mne' %}
          {% include about_me_tabs.html  o_mne="active" pesnicky="" %}
        {% elsif page.about_me_selected == 'pesnicky' %}
          {% include about_me_tabs.html  o_mne="" pesnicky="active" %}
        {% endif %}
      </ul>
			<!--img src="/images/about_me.png" class="center-block" width="350px" height="125px"-->
			<center><h1>{{ page.title }}</h1></center>
			<hr/>
            <center>{{ content }}</center>
        </div>
    </div>
</div>
