---
layout: default
---

<div class="container" style="margin-top:70px">
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <center><h3>Menu</h3></center>
        <hr/>
        <ul class="nav nav-pills nav-stacked">
          {% case page.wp_selected %}
            {% when 'wp' %}
              {% include wp_menu.html wp="active" %}
            {% when 'zadanie1' %}
              {% include wp_menu.html  wpz1="active" %}
            {% when 'zadanie2' %}
              {% include wp_menu.html  wpz2="active" %}
            {% when 'zadanie3' %}
              {% include wp_menu.html  wpz3="active" %}
          {% endcase %}
        </div>
      </div>

      <div class="container">
        <div class="col-md-10">
          <div class="well">
        		{{ content }}
          </div>
        </div>
      </div>
    </div>
</div>
